div.form {
  display: flex;
  padding: 12px;
}
div.form input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

div.todo-insert {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background: linear-gradient(
    #ff2a2a,
    #ff7a2a,
    #ffc52a,
    #43ff2a,
    #2a89ff,
    #202082,
    #e82aff
  );

  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

div.todo-insert:hover {
  background-color: #3bc9db;
}
